@model TP2.Models.MovieVM

@{
    ViewData["Title"] = "Create Movie";
}

<h1>Create</h1>

<h4>Movie</h4>
<hr />

@* Affichage des erreurs de validation via ViewBag *@
@if (ViewBag.Errors != null)
{
    <div class="text-danger ml">
        <ul>
            @foreach (string error in ViewBag.Errors)
            {
                <li class="ml">@error</li>
            }
        </ul>
    </div>
}

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                <label asp-for="movie.Name" class="control-label">Name</label>
                <input asp-for="movie.Name" class="form-control" placeholder="Enter Movie name" />
                <span asp-validation-for="movie.Name" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="movie.GenreId" class="control-label">Genre</label>
                <select asp-for="movie.GenreId" class="form-control">
                    <option value="">-- Select Genre --</option>
                    @if (ViewBag.Genres != null)
                    {
                        var genres = ViewBag.Genres as List<TP2.Models.Genre>;
                        if (genres != null)
                        {
                            @foreach (var genre in genres)
                            {
                                <option value="@genre.Id">@genre.Name</option>
                            }
                        }
                    }
                </select>
                <span asp-validation-for="movie.GenreId" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label for="photo" class="control-label">Movie Added :</label>
                <input type="datetime-local" asp-for="movie.DateAjoutMovie" class="form-control" />
                <span asp-validation-for="movie.DateAjoutMovie" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label for="photo" class="control-label">Photo</label>
                <input type="file" name="photo" id="photo" class="form-control" accept="image/*" />
            </div>
            
            <div class="form-group mt-3">
                <input type="submit" value="Save Info" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-success">Back To List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
